* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* Shared styles */

.container {
    width: 90%;
    max-width: 1600px;
    margin: auto;
}

.btn-primary {
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    cursor: pointer;
}

.btn-primary:hover {
    transition: 0.7s;
    background-color: #287649;
}

/* navber styles */
.logo{
    width: 100px;
    height: 60px;
    cursor: pointer;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px auto;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-menu li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
}
.nav-menu li a:hover{
    color: aliceblue;
    transition: 0.4s;
    background-color: #287649;
    border-radius: 5px;
    padding: 12px 16px;
}