* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* Shared styles */

.container {
    width: 90%;
    max-width: 1340px;
    margin: auto;
}

.btn-primary {
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    cursor: pointer;
}

.btn-primary:hover {
    transition: 0.7s;
    background-color: #185f35;
}
.text-center{
    text-align: center;
}
.text-secondary{
    color: #627382;
}

/* navber styles */
.logo {
    width: 100px;
    height: 60px;
    cursor: pointer;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px auto;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-menu li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
}

.nav-menu li a:hover {
    color: aliceblue;
    transition: 0.4s;
    background-color: #287649;
    border-radius: 5px;
    padding: 12px 16px;
}

/* Banner styles */
.banner {
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, .4),
            rgba(0, 0, 0, .7),
            rgba(0, 0, 0, .4),
            rgba(0, 0, 0, 0)), url(./assets/hero-bg.png);
    /* min-height: 600px; */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 90px;
}

.hero-notice {
    background-color: rgba(255, 255, 255, 1);
    max-width: max-content;
    margin: auto;
    color: #469165;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 500;
    margin-bottom: 10px;
    
}
.hero-title{
    color: white;
    font-size: 70px;
    font-weight: 700;
}
.green-hero{
    color: #30B868;
}
.hero-subtitle{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 30px;
}
.transparent-btn{
    border: 2px solid white;
    background-color: transparent;
    margin-left: 10px;
}

/* Notes section styles */
.notes{

}
.notes-title{
    color: rgba(0, 25, 49, 1);
    font-size: 45px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 10px;
}
.note-cards{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    gap: 10px;
}
.card{
     width: 270px; 
   /* height: 300px;  */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.109);
    background-color: rgba(255, 255, 255, 1);
    padding: 70px 20px;
}
.card div{
    margin-bottom: 16px;
}
.note-img{
    background-color: rgba(249, 85, 85, 1);
    width: 50px;
    height: 50px;
    margin: auto;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

/* Brain structure styles */

.brain-structure{
 margin-top: 120px;
 display: flex;
 justify-content: center;
 box-sizing: border-box;
 align-items: center;
}
.brain-img{
    /* width: 50%; */
    /* flex-grow: 1; */
    /* width: 600px;
    height: 600px; */
}
.brain-img img{
    width: 700px;
    height: 700px;
}
.brain-text{
    width: 60%;
    padding: 100px 60px;
    
}
.solution{
    color: #30B868;
    font-weight: 500;
    margin-bottom: 10px;
}
.brain-title{
    color: rgba(0, 25, 49, 1);
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}
.brain-details{
    margin-bottom: 30px;
}
.brain-list{
    margin-top: 10px;
    display: flex;
    columns: #001931;
    font-weight: 500;
    gap: 5px;
    align-items: center;
}
/* ready to think section */
.ready-to-think{
background: rgba(233, 224, 224, 0.281);
 min-height: 400px;
 margin: 120px auto;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 12px;
}
.think-title{
    color: rgba(0, 25, 49, 1);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}
.think-dtails{
    margin-bottom: 16px;
}
.think-btn{
    margin-bottom: 10px;
}
/* footer */
footer{
    background-color: #001931;
    min-height: 400px;
    color: white;
}
.contact-copyright{
    padding-top: 100px;
    padding-bottom: 20px;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-links{
    font-size: 20px;    
}
.links{
    margin-top: 5px;
}
.links a{
    color: white;
    text-decoration: none;
    margin-right: 7px;
}
.copyright{
    border-top: 2px solid rgb(19, 36, 79);
    margin-top: 80px;
    padding-top: 50px;
}